<div class="row text-center">
	<div class="col-md-4">
		<div class="btn-group">
			<div class="btn btn-primary"
				mwlCalendarPreviousView [view]="view"
				[(viewDate)]="viewDate"
				(viewDateChange)="activeDayIsOpen = false">
				Previous
			</div>
			<div class="btn btn-outline-secondary"
				mwlCalendarToday [(viewDate)]="viewDate">
				Today
			</div>
			<div class="btn btn-primary"
				mwlCalendarNextView [view]="view"
				[(viewDate)]="viewDate"
				(viewDateChange)="activeDayIsOpen = false">
				Next
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
	</div>
	<!-- <div class="col-md-4">
		<div class="btn-group">
			<div class="btn btn-primary"
				(click)="view = 'month'"
				[class.active]="view === 'month'">
				Month
			</div>
			<div class="btn btn-primary"
				(click)="view = 'week'"
				[class.active]="view === 'week'">
				Week
			</div>
			<div class="btn btn-primary"
				(click)="view = 'day'"
				[class.active]="view === 'day'">
				Day
			</div>
		</div>
	</div> -->
</div>

<br>

<div [ngSwitch]="selectedEvent.type">
	<div *ngSwitchCase="'calendar'" class="jumbotron my-0 py-4">
		<h1 class="display-5">{{selectedEvent.title}}</h1>
		<p class="lead">{{selectedEvent.owner_name}}</p>
		<p [innerHTML]="selectedEvent.text"></p>
	</div>
	<div *ngSwitchCase="'structure'" class="jumbotron my-0 py-4">
		<h1 class="display-5">{{selectedEvent.details.name}}</h1>
		<p class="lead">
			Services:
			<span [innerHTML]="selectedEvent.services | serviceList"></span>
		</p>
		<p>This structure will run out of fuel {{timeUntil(selectedEvent.fuel_expires)}}.</p>
	</div>
</div>

<br>

<div [ngSwitch]="view">
	<mwl-calendar-month-view
		*ngSwitchCase="'month'"
		[viewDate]="viewDate"
		[events]="calendarEvents"
		[activeDayIsOpen]="activeDayIsOpen"
		(dayClicked)="dayClicked($event.day, $event.day.events)"
		(eventClicked)="eventClicked($event.event)">
	</mwl-calendar-month-view>
	<mwl-calendar-week-view
		*ngSwitchCase="'week'"
		[viewDate]="viewDate"
		[events]="calendarEvents"
		(eventClicked)="eventClicked($event.event)">
	</mwl-calendar-week-view>
	<mwl-calendar-day-view
		*ngSwitchCase="'day'"
		[viewDate]="viewDate"
		[events]="calendarEvents"
		(eventClicked)="eventClicked($event.event)">
	</mwl-calendar-day-view>
</div>

<br><br><br>
